<?xml version="1.0"?>
<config>
    <modules>
        <More_ChinaInvoice>
            <version>0.5.0</version>
        </More_ChinaInvoice>
    </modules>
    <global>
        <models>
            <chinainvoice>
                <class>More_ChinaInvoice_Model</class>
            </chinainvoice>
            <checkout>
                <rewrite>
                    <type_onepage>More_ChinaInvoice_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>More_ChinaInvoice_Model_Order</order>
                </rewrite>
            </sales>
            <moreadminthemecontroller>
                <class>More_ChinaInvoice_Controller</class>
            </moreadminthemecontroller>
        </models>
        <helpers>
            <chinainvoice>
                <class>More_ChinaInvoice_Helper</class>
            </chinainvoice>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>More_ChinaInvoice_Block_Onepage</onepage>
                    <onepage_progress>More_ChinaInvoice_Block_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
            <chinainvoice>
                <class>More_ChinaInvoice_Block</class>
            </chinainvoice>
            <chinainvoiceonepage>
                <class>More_ChinaInvoice_Block_Onepage</class>
            </chinainvoiceonepage>
        </blocks>
        <resources>
            <chinainvoice_setup>
                <setup>
                    <module>More_ChinaInvoice</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinainvoice_setup>
        </resources>
        <events>
           
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <more_themeoverride_observer>
                        <type>singleton</type>
                        <!-- moreadminthemecontroller/observer  -->
                        <class>More_ChinaInvoice_Controller_Observer</class>
                        <method>overrideTheme</method>
                    </more_themeoverride_observer>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <More_ChinaInvoice before="Mage_Checkout">More_ChinaInvoice</More_ChinaInvoice>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events> 
            <sales_order_place_after>
                <observers>
                    <hooksystem_order_success>
                        <type>singleton</type>
                        <class>chinainvoice/observer</class>
                        <method>hookToOrderSaveEvent</method>
                    </hooksystem_order_success>
                </observers> 
            </sales_order_place_after>
        </events>
        <layout>
            <updates>
                <chinainvoice>
                    <file>chinainvoice.xml</file>
                </chinainvoice>
            </updates>
        </layout>
        <translate>
            <modules>
                <More_ChinaInvoice>
                    <files>
                        <default>More_ChinaInvoice.csv</default>
                    </files>
                </More_ChinaInvoice>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <chinainvoice>
                    <file>chinainvoice.xml</file>
                </chinainvoice>
            </updates>
        </layout>
        <translate>
            <modules>
                <More_ChinaInvoice>
                    <files>
                        <default>More_ChinaInvoice.csv</default>
                    </files>
                </More_ChinaInvoice>
            </modules>
        </translate>
    </adminhtml>
</config>